/*Footer*/

#contacto{
    background-color: rgb(232, 236, 232);
    color:black;
    border: 8px solid rgb(205, 208, 205);
    padding: 5px 0px;
    top:10%;
}

#contacto h4{
    font-size: 2vw;
    padding-top:1vw ;
    position: absolute;
    display: flex;
    left: 38vw;
}
#contacto form{
    max-width: 80vw;
    margin:0 auto;
}
#datos-form{
    display: flex;
    margin-top: 5vw;
    width: 100%;
    
}
#datos-form div{
    padding: 10px;
    flex:1;
    font-size: 1.5vw;
}
.form-label{
    display:block;
    margin-bottom: 50px;
}
form input,
form-textarea
 {
    background: rgba(97, 190, 233, 0.2);
    border-radius: 10px;
    border: 5px solid rgba(97, 190, 233, 0.2);
    padding: 10px 5px;
    color:rgb(31, 21, 21);
    width: 100%;
}
form input:focus,
form textarea:focus{
    border:rgba(24, 10, 105, 0.2);
    box-shadow: 0 0 0 1px rgba(243, 239, 239, 0.2);

}
form input::placeholder
form textarea::placeholder{
    color:#080808;
}
.mensaje{
    display: flex;
    position: relative;
    flex-direction: column;
    width:80vw;
}
.boton-formulario .boton-saber-mas{
    display:block;
    border:1px solid #64C0DD;
    color:white;
    transition: 0.3s;
    width: 11vw;
    border-radius: 30px;
    background: #64C0DD;
    text-align: center;
    margin: 2vw 0;
    position: relative;
    left:69vw;
    
}
.boton-formulario .boton-saber-mas:hover{
    background:rgba(226, 100, 100, 0.2); 
    color: black;
}
.redes-footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.logo_redes{
    /* font-size: 20px; */
    margin: 1vw;
    /* background: #efefef; */
    /* width: 50px; */
    height: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 100%; */
    /* color: #a2a2a2; */
    
}