.contenedor2 {
  margin-left: 20px;
    padding: 10px;
  max-width: 100%;
  width: 1100px;
  display: flex;
  justify-content: center;
}
.card {
  background-color: #f78733;
  color: black;
  padding: 30px;
  width: 200px;
  border-radius: 39px;
  margin: 20px;
  transition: all 0.25s;
  display: flex;
}
.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

#we_use{
    background-color: #FFD2B0;
    width: 90vw;
    height: 30vw;
    /* position: relative; */
    display: flex;
    /* justify-content: flex-end; */
    /* flex-direction: column; */
    margin-left: 8vw;
    margin-top: 10vw;
    border-top-left-radius: 20vw 20vw;
    border-bottom-left-radius:20vw 20vw;
    /*border-radius: 17vw;*/
    margin-bottom: 7vw;
}
#we_use h1 {
    position: absolute;
    margin-left: 70vw;
    margin-top: 1.5vw;
    font-size: 4vw;
}
.logo_2{
    width: 15vw;
    justify-content: space-between;
    margin-left: 4vw;
}
