.contenedor2 {
  margin-left: 20px;
    padding: 10px;
  max-width: 100%;
  width: 1100px;
  display: flex;
  justify-content: center;
}
.card {
  background-color: #f78733;
  color: black;
  padding: 30px;
  width: 200px;
  border-radius: 39px;
  margin: 20px;
  transition: all 0.25s;
  display: flex;
}

/*.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}*/

.card-img {
  position: relative;
}
