@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url(./css/main.css);
@import url(./css/footer.css);

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    /*background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 35%, rgba(45,253,141,1) 78%);*/
    color: hsl(240, 100%, 1%);
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
	width:100%;
    min-height: 100vh;
    justify-content: center;
    line-height: 1.5;
    background: linear-gradient(135deg, #4ABDAC55 25%, transparent 25%) -5px 0/ 10px 10px, 
    linear-gradient(225deg, #4ABDAC 25%, transparent 25%) -5px 0/ 10px 10px, linear-gradient(315deg, #4ABDAC55 25%, transparent 25%) 0px 0/ 10px 10px, linear-gradient(45deg, #4ABDAC 25%, #DFDCE3 25%) 0px 0/ 10px 10px;
}
    


a {
	color: #3da08f;
}

img {
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
 {
	font-family: 'Roboto', sans-serif;
}

/*HEADER*/
/*header{
    background-image: url(./img/fondo_1.jpg);
    background-size: cover;
    height: 550px;
    position: relative;
    top: 20vw;
}*/
/*background-image:url("./img/fondo-1.png");
background-size: cover;
height: 550px;
position: relative;*/
.container {
	padding: 30px;
	margin: 0 auto;
	max-width: 100%;
	width: 1200px;
    background-color: #DFDCE3;
    /*opacity: 0.4;*/
    background: linear-gradient(135deg, #4ABDAC55 25%, transparent 25%) -5px 0/ 10px 10px, 
    linear-gradient(225deg, #4ABDAC 25%, transparent 25%) -5px 0/ 10px 10px, linear-gradient(315deg, #4ABDAC55 25%, transparent 25%) 0px 0/ 10px 10px, linear-gradient(45deg, #4ABDAC 25%, #DFDCE3 25%) 0px 0/ 10px 10px;
}
.logo {
    width: 7vw;
    margin-left: -5vw;
}
.flex {
	display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.align-start {
	align-items: flex-start;
}

.flex > div,
.flex > ul {
	flex: 1;
}

.flex > div:first-child {
	margin-right: 20px;
}

.flex > div:last-child {
	margin-left: 20px;
}
.titulo1 {
    position: absolute;
    margin-left: 44vw;
    margin-top: 9vw;
    font-size: 5vw;
}
.square-circle {
    background-color: #FFD2B0;
    width: 90vw;
    height: 28vw;
    /* position: relative; */
    display: flex;
    /* justify-content: flex-end; */
    /* flex-direction: column; */
    margin-top: -27vw;
    border-top-left-radius: 20vw 20vw;
    border-bottom-left-radius: 20vw 20vw;
    /* border-radius: 17vw; */
    margin-left: -5.5vw;
}
.illustration{
    width: 28vw;
    position: relative;
    margin-left: 10vw;
}/* image 1 */



/* Nav styling */
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px 30px;
    background-color: #ffffff;
    margin-left: -7vw;
    margin-right: -6vw;
    margin-top: -3vw;
    height: 10vw;
}

nav ul {
	display: flex;
	padding: 0;
	list-style-type: none;
}

nav ul li {
	margin-left: 52px;
}

nav ul a {
	color: hsl(240, 85%, 3%);
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
    margin-left: 3vw;
}

@media (min-width: 1020px)  
 {
    body{
     background: linear-gradient(135deg, #4ABDAC55 25%, transparent 25%) -5px 0/ 10px 10px, 
     linear-gradient(225deg, #4ABDAC 25%, transparent 25%) -5px 0/ 10px 10px, linear-gradient(315deg, #4ABDAC55 25%, transparent 25%) 0px 0/ 10px 10px, linear-gradient(45deg, #4ABDAC 25%, #DFDCE3 25%) 0px 0/ 10px 10px;
    }
    
    
}

